.terminatorEye {
    background: radial-gradient(circle farthest-side at 50% 50%, #FF0000 20%, #7F0000 60%, black 70%, gray);
}

.terminatorEyeWithSize {
    background: radial-gradient(circle farthest-side at 50% 50%, #FF0000 20%, #7F0000 60%, black 70%, gray);
    background-size: 60px 60px;
}

.repeatingCircles {
    background: repeating-radial-gradient(circle closest-side, #000000 0%, #8BC9BA 10%, #EDFFFF 15%, #8BC9BA 20%, #000000 30%);
}
