@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6jkjm4');
  src:  url('fonts/icomoon.eot?6jkjm4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6jkjm4') format('truetype'),
    url('fonts/icomoon.woff?6jkjm4') format('woff'),
    url('fonts/icomoon.svg?6jkjm4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wand:before {
  content: "\e900";
}
.icon-autorenew:before {
  content: "\e901";
}
.icon-gradient:before {
  content: "\e902";
}
.icon-filter_tilt_shift:before {
  content: "\e903";
}
.icon-color_lenspalette:before {
  content: "\e904";
}
.icon-layers:before {
  content: "\e905";
}
.icon-photo_size_select_actual:before {
  content: "\e906";
}
.icon-code:before {
  content: "\e907";
}
.icon-bolt:before {
  content: "\e908";
}
.icon-paint-format:before {
  content: "\e909";
}
